@import 'base';

.body-blog{
    background-image: url('../imagenes/fondo-blog.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor__blog{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titulo-blog{
    
    font-size: 5rem;
}